.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*width: 100vw;*/
    /*height: 100vh;*/
    /*border: 3px solid purple;*/
}

.card {
    flex-basis: 31%;
    padding: .8rem;
    margin: .5rem;
}

@media (min-width: 950px) {
    .card {
        flex-basis: 45%;
        /*border: 2px solid magenta;*/
    }
}

@media (min-width: 1200px) {
    .card {
        /*padding: .4rem;*/
        margin: .6rem;
        /*width: 10vw;*/
        flex-basis: 25%;
        /*border: 2px solid orange;*/
    }
}